<h1>Create a new landmark</h1>

<form action="/landmarks" method="POST">
  <label>Landmark Name:</label>
  <br></br>

  <input type="text" name='landmark[name]' id="landmark_name"></input>
  <br></br>

  <label>Year Compelted:</label>
  <br></br>

  <input type="text" name='landmark[year_completed]' id="landmark_year_completed"></input>
  <br></br>

  <input type="submit" value="Create New Landmark" id="Create New Landmark"></input>
</form>
